
@{
    ViewBag.Title = "Index";
    var mess = ViewData["message"];
    // vi cung key nen cai sau se la value cua key do nen bien mess nhan duoc viewbag
    // thay vi view data
        }

<h2>Index</h2>
<p>@mess</p>

@Html.Partial("_demopartialview")